# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
venv/
env/

# SQLite database files
*.sqlite3

# Django
*.log
.env
config/settings/dev.py

# Tests coverage
.coverage
htmlcov/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# IDE/editor
.vscode/
.idea/
*.swp

# Docker
*.dockerfile
docker-compose.override.yml
docker-compose.override.yaml

# Docker volumes and data
**/tmp/
**/data/

# macOS files (если кто-то на маке)
.DS_Store

# Windows thumbnail cache
Thumbs.db