
# Python 3.11
__pycache__/
*.py[cod]
*.sqlite3

# Bytecode
*.pyc
*.pyo

# Virtualenv
venv/
env/

# Django
.env
*.log

# Local settings
config/settings/dev.py

# tests
# tests/
# tests/**

# ременные файлы
.coverage
htmlcov/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# IDE/Editor files
.vscode/
.idea/
*.swp